body {
  font-family: Arial;
  font-size: smaller;
}

section {
  margin-top: 20px;
}

header {
  background-color: lightgrey;
  color: grey;
}

label {
  font-weight: bold;
  display: block;
  margin-top: 25px;
}

input {
  width: 100%;
}

input[disabled] {
  background-color: grey;
  margin-bottom: 20px;
}

div {
  width: 75%;
  margin-left: 12%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

button {
  padding: 10px 10px 10px 10px;
}

button.op {
  flex-basis: 250px;
  background-color: cornflowerblue;
  color: white;
}

div.memo {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

button.memo {
  background-color: green;
  color: white;
  flex-basis: 500px;
}

table {
  border: lightgrey solid 1px;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: lightgrey solid 1px;
  padding: 5px 5px 5px 5px;
}

th {
  background-color: aliceblue;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

td.deb {
  background-color: white;
  text-align: left;
}

footer {
  margin-top: 30px;
  font-weight: bold;
}
